body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

html, body {
  overflow: hidden;
}

#map { position:absolute; top:0; bottom:0; right:300px; left:0; }

.header {
  max-width:100%;
  max-height:100%;
}

.leaflet-popup {
    display: none !important; 
}

#info {
      position:absolute; top: 0; right: 0;
      bottom: 0; width: 260px; background:#eeebe7; color: #333;
      padding:20px;
      border-left: 2px solid #e6e2db;
  }

#info p { 
  font-size: 12px;
  line-height: 15px;
}

.bold {
  font-weight: 700;
}

#info h1 { 
  margin-top:0; 
  font-size: 22px;
  line-height: 18px;
  font-weight: 700;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 30px; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  height: auto; 
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed 
counter-reset: 
  { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

a.read-more {
  padding-top: 10px;
  font-weight: 700;
  color: #219375;
  text-decoration: none;
  border-bottom: 2px solid #219375;
}

a.read-more:hover {
  color: #635C45;
  text-decoration: none;
  border-bottom: 2px solid #635C45;
}



#mapui {
  display: none;
}

#filters {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 100;
    padding: 0px 5px 5px 5px;
    background: #fff;
}

#filters ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#options {line-height: 18px;}

.filter-title {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 2px;
}

ul#options {
  overflow:hidden;
  width: 600px;
}

#options li  { 
  float:left;
  display:inline;
  width:50%;
} 

input[type=checkbox].css-checkbox {
              display:none;
            }


            input[type=checkbox].css-checkbox + label.access, 
            input[type=checkbox].css-checkbox + label.education, 
            input[type=checkbox].css-checkbox + label.abortion,
            input[type=checkbox].css-checkbox + label.violence,
            input[type=checkbox].css-checkbox + label.srhbudget,
            input[type=checkbox].css-checkbox + label.hiv,
            input[type=checkbox].css-checkbox + label.cervicalcancer,
            input[type=checkbox].css-checkbox + label.conception,
            input[type=checkbox].css-checkbox + label.knowledge,
            input[type=checkbox].css-checkbox + label.global {
              padding-left:15px;
              height:10px; 
              display:inline-block;
              line-height:12px;
              background-repeat:no-repeat;
              background-position: 0 -40px;
              font-size:12px;
              vertical-align:middle;
              cursor:pointer;

            }

            label.access, label.education, label.abortion, label.violence,
            label.srhbudget, label.hiv, label.cervicalcancer, label.conception, 
            label.knowledge, label.global     
            {
              background-image:url(images/csscheckbox.png);
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }

                      

            input[type=checkbox].css-checkbox:checked + label.abortion {
              background-position: 0 0px;
            }

            input[type=checkbox].css-checkbox:checked + label.cervicalcancer {
              background-position: 0 -60px;
            }

            input[type=checkbox].css-checkbox:checked + label.conception {
              background-position: 0 -80px;
            }

            input[type=checkbox].css-checkbox:checked + label.education {
              background-position: 0 -100px;
            }

            input[type=checkbox].css-checkbox:checked + label.hiv {
              background-position: 0 -140px;
            }

            input[type=checkbox].css-checkbox:checked + label.access {
              background-position: 0 -180px;
            } 
            
            input[type=checkbox].css-checkbox:checked + label.srhbudget {
              background-position: 0 -200px;
            }

            input[type=checkbox].css-checkbox:checked + label.violence {
              background-position: 0 -220px;
            }

            input[type=checkbox].css-checkbox:checked + label.knowledge {
              background-position: 0 -160px;
            }

            input[type=checkbox].css-checkbox:checked + label.global {
              background-position: 0 -20px;
            }
            
            

            

            

            